/****** Object:  Schema [Analytics]    Script Date: 24/03/2024 22:23:58 ******/
CREATE SCHEMA [Analytics]
GO
/****** Object:  Table [Analytics].[PortfolioAnalytics]    Script Date: 24/03/2024 22:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Analytics].[PortfolioAnalytics](
	[PA_ID] [int] IDENTITY(1,1) NOT NULL,
	[PortfolioShortName] [varchar](50) NULL,
	[MetricName] [varchar](50) NULL,
	[MetricType] [varchar](50) NULL,
	[MetricLevel] [varchar](50) NULL,
	[MetricValue] [float] NULL,
 CONSTRAINT [PK_Portfolio] PRIMARY KEY CLUSTERED 
(
	[PA_ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MarketData]    Script Date: 24/03/2024 22:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MarketData](
	[MD_ID] [int] IDENTITY(1,1) NOT NULL,
	[AsOfDate] [date] NOT NULL,
	[SecID] [int] NOT NULL,
	[Open] [float] NULL,
	[High] [float] NULL,
	[Low] [float] NULL,
	[Close] [float] NULL,
	[Volume] [float] NULL,
	[Dividends] [float] NULL,
	[Stock_Splits] [float] NULL,
	[Dataload_Date] [datetime] NULL,
 CONSTRAINT [PK_MarketData] PRIMARY KEY CLUSTERED 
(
	[MD_ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Portfolio]    Script Date: 24/03/2024 22:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Portfolio](
	[PortID] [int] IDENTITY(1,1) NOT NULL,
	[PortfolioShortName] [varchar](50) NULL,
	[PortfolioName] [varchar](200) NULL,
	[PortfolioType] [varchar](200) NULL,
 CONSTRAINT [PK_Portfolio] PRIMARY KEY CLUSTERED 
(
	[PortID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PortfolioHoldings]    Script Date: 24/03/2024 22:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PortfolioHoldings](
	[HID] [int] IDENTITY(1,1) NOT NULL,
	[AsOfDate] [date] NULL,
	[PortID] [int] NULL,
	[SecID] [int] NULL,
	[HeldShares] [decimal](9, 4) NULL,
 CONSTRAINT [PK_PortfolioHoldings] PRIMARY KEY CLUSTERED 
(
	[HID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SecurityMaster]    Script Date: 24/03/2024 22:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SecurityMaster](
	[SecID] [int] IDENTITY(1,1) NOT NULL,
	[Ticker] [varchar](10) NULL,
	[Sector] [varchar](50) NULL,
	[Country] [varchar](50) NULL,
	[SecurityType] [nvarchar](50) NOT NULL,
	[SecurityName] [varchar](50) NULL,
 CONSTRAINT [PK_Securities_Master] PRIMARY KEY CLUSTERED 
(
	[SecID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET IDENTITY_INSERT [dbo].[Portfolio] ON 

INSERT [dbo].[Portfolio] ([PortID], [PortfolioShortName], [PortfolioName], [PortfolioType]) VALUES (1, N'GTEF', N'GlobalTech', N'Portfolio')
INSERT [dbo].[Portfolio] ([PortID], [PortfolioShortName], [PortfolioName], [PortfolioType]) VALUES (2, N'QQQ', N'Nasdaq100 ETF', N'ETF')
INSERT [dbo].[Portfolio] ([PortID], [PortfolioShortName], [PortfolioName], [PortfolioType]) VALUES (3, N'Nasdaq100', N'Nasdaq100', N'Benchmark')
SET IDENTITY_INSERT [dbo].[Portfolio] OFF
GO
SET IDENTITY_INSERT [dbo].[PortfolioHoldings] ON 

INSERT [dbo].[PortfolioHoldings] ([HID], [AsOfDate], [PortID], [SecID], [HeldShares]) VALUES (1, CAST(N'2023-10-02' AS Date), 1, 1, CAST(900.0000 AS Decimal(9, 4)))
INSERT [dbo].[PortfolioHoldings] ([HID], [AsOfDate], [PortID], [SecID], [HeldShares]) VALUES (2, CAST(N'2023-10-02' AS Date), 1, 2, CAST(800.0000 AS Decimal(9, 4)))
INSERT [dbo].[PortfolioHoldings] ([HID], [AsOfDate], [PortID], [SecID], [HeldShares]) VALUES (3, CAST(N'2023-10-02' AS Date), 1, 3, CAST(700.0000 AS Decimal(9, 4)))
GO
SET IDENTITY_INSERT [dbo].[PortfolioHoldings] OFF
GO
SET IDENTITY_INSERT [dbo].[SecurityMaster] ON 

INSERT [dbo].[SecurityMaster] ([SecID], [Ticker], [Sector], [Country], [SecurityType], [SecurityName]) VALUES (1, N'MSFT', N'Technology', N'US', N'Equity', N'Microsoft Corp')
INSERT [dbo].[SecurityMaster] ([SecID], [Ticker], [Sector], [Country], [SecurityType], [SecurityName]) VALUES (2, N'GOOGL', N'Technology', N'US', N'Equity', N'Alphabet Inc')
INSERT [dbo].[SecurityMaster] ([SecID], [Ticker], [Sector], [Country], [SecurityType], [SecurityName]) VALUES (3, N'META', N'Technology', N'US', N'Equity', N'Meta Platforms Inc')
GO
SET IDENTITY_INSERT [dbo].[SecurityMaster] OFF
GO

